.register h2 {
  margin-left: 206px;
  margin-top: 46px; }

.reglayout {
  width: 600px; }

html {
  background: url(../images/black-and-white-city-man-people.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  font-family: "Roboto", "sans-serif";
  background-color: transparent; }
  body a {
    text-decoration: none; }

nav {
  background-color: transparent;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  nav .logo {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: "Nunito", "sans-serif"; }
    nav .logo a {
      color: white; }
      nav .logo a:visited {
        color: white; }

.login {
  color: white;
  width: 700px;
  margin: 0 auto;
  margin-top: 15%;
  padding: 50px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7); }
  .login .md-button {
    background-color: transparent; }

.register {
  color: white;
  width: 700px;
  margin: 0 auto;
  margin-top: 15%;
  padding: 50px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7); }
