<div class="dashboard">

  <div class="addlayover">
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>
          <span>add a layover</span>
        </h3>
      </div>
    </md-toolbar>

    <form layout-padding ng-submit="newLayover(layover)">
        <md-input-container>
            <label>Airport (ATL, LAX, JFK, etc.)</label>
            <input ng-model="layover.short_name" type="text">
        </md-input-container>
        <md-input-container>
            <label>City (Atlanta, Los Angeles, New York City)</label>
            <input ng-model="layover.city" type="text">
        </md-input-container>
        <md-input-container>
            <label>Date</label>
            <input ng-model="layover.date" format="yyyy-MM-dd" type="date">
        </md-input-container>
        <md-input-container>
            <label>Arrival Time</label>
            <input ng-model="layover.dept_time" type="time">
        </md-input-container>
        <md-input-container>
            <label>Departure Time</label>
            <input ng-model="layover.arrival_time" type="time">
        </md-input-container>
        <md-input-container>
          <md-checkbox ng-model="layover.display" ng-true-value="false" ng-false-value="true" aria-label="display or not display" class="md-warn">
          </md-checkbox>
          <p>check the box hide this layover from other users.</p>
        </md-input-container>
        <md-button class="md-raised md-primary">Submit</md-button>
    </form>

  </div>

    <div class="userlayovers">
      <md-toolbar>
          <div class="md-toolbar-tools">
            <h3>
              <span>your layovers</span>
            </h3>
          </div>
      </md-toolbar>
      
<!--       <p><md-checkbox ng-model="twentyfour" ng-true-value="true" ng-false-value="false" aria-label="display or not display" class="md-warn">24hr time.</md-checkbox></p> -->

      <md-list ng-repeat="l in layoverList" layout="column">
        <md-list-item>
        {{l.layover_info.airport}} | {{l.layover_info.city}}

        </br>

        {{l.layover_info.arrival_time}} - {{l.layover_info.departure_time}} <md-button class="md-raised md-primary" id="edit">Meetups</md-button>

        </md-list-item>
      </md-list>
    </div>

</div>