<div class="home">
  
  <md-toolbar class="md-theme-indigo">
    <h3>Layovers &#8800; awesome.</h3>
    <h3>People = awesome.</h3>
    <h3>Layovers + people = awesome.</h3>
    <h3>Leet = layovers + people. Leet = awesome.</h3>
  </md-toolbar>
  <md-content>

  <p class="left">When flyers touch down in an airport for a layover, they feel stuck. They put their heads between the pages of a book or their eyes onto a screen, and tune out the people around them—people they could be connecting with. This is a fun, cool coincidence, except for when it's a layover. Leet is the answer to that: A webapp that gives users awareness of others who just happen to be in the same place, at the same time.</p>
  <h2><a href="#/register"><md-button class="md-warn md-raised">Register.</md-button></a></h2>
</div>