<div class="register">
    <form layout-padding ng-submit="createUser(user)">
        <md-toolbar>
            <div class="md-toolbar-tools">
              <h3>
                <span>register</span>
              </h3>
            </div>
          </md-toolbar>
        <md-input-container>
            <label>First Name</label>
            <input ng-model="user.first_name" type="text">
        </md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input ng-model="user.last_name" type="text">
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" type="text">
        </md-input-container>
        <md-input-container>
            <label>Username</label>
            <input ng-model="user.user_name" type="text">
        </md-input-container>
        <md-input-container>
            <label>Password (Must be 8+ Characters)</label>
            <input ng-model="user.password" type="password">
        </md-input-container>
        <md-input-container>
            <label>Phone Number</label>
            <input ng-model="user.phone" type="text">
        </md-input-container>
        <md-input-container>
            <label>Avatar Url</label>
            <input ng-model="user.avatar" type="text">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    </form>

</div>