

<form class="register">
<h2>register</h2>
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="user.lastName">
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="user.email">
                </md-input-container>
                <md-input-container flex>
                    <label>Phone Number</label>
                    <input ng-model="user.phone">
                </md-input-container>
                <md-input-container flex>
                    <label>Avatar Url</label>
                    <input ng-model="user.avatar">
                </md-input-container>
                <md-input-container flex>
                    <label>LinkedIn Url</label>
                    <input ng-model="user.ln">
                </md-input-container>
                    <md-input-container>
                        <label>Username</label>
                        <input ng-model="user.title">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
                <md-button>Submit</md-button>
</form>
