<!DOCTYPE html>
<html>
<head>
  <title>Leet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
  <!-- END -->

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/vendor/angular-material.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/loading-bar.css">
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/sweetalert.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- <link rel="stylesheet" media="(max-width:768px)" href="css/mobile.css"> -->

  <!-- minimal devices -->
  <link rel="stylesheet" type="text/css" href="css/vendor/imac.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/iphone.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/ipad.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/macbook.css">
  <!-- end -->

  <!-- END -->
</head>
<body ng-app="LeetApp" class="background">

  <span size="0" id="top"></span>

  <!-- NAVBAR -->
    <nav ng-controller="NavbarCtrl">

      <span class="hamburger"><i ng-click="toggleLeft()" class="material-icons icon">&#xE5D2;</i></span>
      <span class="top"><i ng-click="toTop()" class="material-icons icon">&#xE316;</i></span>
      
      <div class="logo">
          <i class="material-icons">&#xE904;</i>
          <span>leet</span>
          <i class="material-icons">&#xE905;</i>
      </div>
    </nav>
    <!-- END -->

    <!-- SIDENAV -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 side" md-component-id="left" ng-controller="NavbarCtrl" ui-view="sidebar">
    </md-sidenav>
    <!-- END -->

    <!-- CONTAINER -->
    <div class="container" ui-view="main">
    </div>
    <!-- END -->
  <!-- END -->

  <!-- VENDOR -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-ui-router.js"></script>
  <script src="js/vendor/angular-animate.js"></script>
  <script src="js/vendor/angular-aria.js"></script>
  <script src="js/vendor/angular-material.js"></script>
  <script src="js/vendor/loading-bar.js"></script>
  <script src="js/vendor/angular-cookies.js"></script>
  <script src="js/vendor/sweetalert.min.js"></script>
  <script src="js/vendor/moment.js"></script>
  <!-- END -->

  <!-- ANGULAR -->

  <script src="js/main.js"></script>

  <!-- services -->
  <script src="js/user/authService.service.js"></script>
  <script src="js/user/userService.service.js"></script>
  <script src="js/dashboard/dashboardService.service.js"></script>
  <script src="js/meetups/meetupService.service.js"></script>
  <!-- end -->

  <!-- controllers -->
  <script src="js/user/login.controller.js"></script>
  <script src="js/user/logout.controller.js"></script>
  <script src="js/user/user.controller.js"></script>
  <script src="js/meetups/meetup.controller.js"></script>
  <script src="js/navbar/navbar.controller.js"></script>
  <script src="/js/dashboard/dashboard.controller.js"></script>
  <!-- end -->


  <!-- END -->
</body>
</html>
