@import 'bourbon/bourbon';
@import 'neat/neat';

// VARIABLES
$rb: 'Roboto', 'sans-serif';
$nu: 'Nunito', 'sans-serif';
$mainblue: RGB(0, 176, 242);
$t: transparent;
$w: white;
$mb: #2196F3;

// opacity white
$opacityw7: rgba(255, 255, 255, .7);
$opacityw4: rgba(255, 255, 255, .4);
$oblue:     rgba(33, 150, 243, .7);
// end

// mixins
@mixin contentdiv($width) {
  width:$width;
  margin: 0 auto;
  padding:50px;
  border-radius:3px;
  line-height:20px;
  margin-bottom:1em;
  background-color: $opacityw7;
  form {
    @include csscentertag(left);
  }
}

@mixin contentdivmobile() {
  width:80%;
  margin:0 auto;
  padding:20px;
  border-radius:3px;
  line-height:20px;
  margin-bottom:5em;
  background-color: #fcfcfd;
  form {
    @include csscentertag(left);
  }
}

@mixin csscentertag($align) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: $align;
}

@mixin fullpagebg($path) {
  background: $path no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// end

// END

* {
  outline: none;
}

html {
  @include fullpagebg(url(../images/black-and-white-city-man-people.jpg));
}

body {
  font-family: $rb;
  background-color: $t;
  outline:none;

  a {
    text-decoration: none;
  }
}

nav {
  background-color: $t;
  line-height:90px;
  color:$w;
  margin-bottom:5em;
  width:100%;


  .logo {
    text-align: center;
    margin: 0 auto;
    color:white;
    font-size: 80px;
    font-family: $nu;
    width:300px;

    span {
      color: $w;
    }
  }

  .hamburger {
    float:left;
    padding-left: 3%;
  }

  .top {
    padding-right: 3%;
    position:fixed;
    float:right;
    color: $w;
    display:inline;

    &:hover {
      color:$mb;
      transition: 1s all ease;
      cursor:pointer;
      margin:0;
      padding:0;
    }
  }
}

.container {
  width:85%;
  margin: 0 auto;
}

// HOME PAGE
.home {
  @include contentdiv(100%);
  margin:0;
  color:$w;
  text-align: center;
  background-color:$mb;

  p {
    color:$w;
  }

  h3, h4 {
    font-weight:normal;
  }
}

// LOGIN PAGE
.login {
  @include contentdiv(50%);

  a {
    color:$w;

    &:visited {
      color:$w;
    }
  }
}

//REGISTER PAGE
.register {
  @include contentdiv(50%);
}

// DASHBOARD

.dashboard {
  .addlayover {
    @include contentdiv(50%);
  }

  .userlayovers {
    @include contentdiv(50%);
    background:none;
    .material-icons {
      color: $w;
    }

    .layovers {
      display: inline-block;
      vertical-align: middle;
      @include outer-container;
      padding-left:0px;
      
      li {
        @include span-columns(6);
        padding-bottom:20px;
        width:100%;
        margin-left:0;
        
        .meetup {
          float:right;
          display:inline-block;
          vertical-align: middle;
          
          a {
            color:$w;

              &:visited {
                color:$w;
              }
            }
          }

        .l {
          float:left;
          width:100%;
          display:inline-block;
          vertical-align: middle;
          color:$w;
          background-color:$mb;
          border-radius:3px;
          padding:10px;
          line-height:30px;
          
          .airport {
            color:$mb;
            font-family: $nu;
            background-color:white;
            padding:5px;
            border-radius:3px;
          }

          .meetup {
            display:inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
// END

// MEETUP
.meetupPage {

  .myLayover {
    @include contentdiv(50%);
    background:none;
  }

  .otherUserLayovers {

    @include contentdiv(50%);
    background:none;

    .layovers {
      display: inline-block;
      vertical-align: middle;
      @include outer-container;
      padding-left:0px;
      
      li {
        @include span-columns(6);
        padding-bottom:20px;
        width:100%;
        margin-left:0;

        .l {
          float:left;
          width:100%;
          display:inline-block;
          vertical-align: middle;
          color:$w;
          background-color:$mb;
          border-radius:3px;
          padding:10px;
          line-height:30px;
          
          .user {
            color:$mb;
            font-family: $nu;
            background-color:white;
            padding:5px;
            border-radius:3px;
            display: inline;
            vertical-align: middle;
          }

          .times {
            float:right;
            display: inline;
            vertical-align: middle;
          }
        }
      }
    }

  }
}
// END

//MINIMAL DEVICES
.promo {

  .md-iphone-5 {
    font-size:.5em;
    @include csscentertag(center);
  }
}

// MOBILE
@media (max-width: 800px) {

  html  {
    background: transparent;
    background-color: $mb;
    color:#666666;
  }

  .login {
    @include contentdivmobile();
  }

  .register {
    @include contentdivmobile();
  }

  .dashboard {

    .addlayover {
      @include contentdivmobile();
    }

    .userlayovers {
      @include contentdivmobile();
      background:none;

        .layovers {

          li {
            .meetup {
              float:top;
              display:inline-block;
            }

            .l {
              float:bottom;
              display:inline-block;
            }
          }
        }
      }
    }
    .meetups {

      .otherLayovers {
        @include contentdivmobile();
        background:none;

        li { 

          .l {
            
            .user {

            }

            .times {

            }
          }
        }
    }
  }
}