// VARIABLES
$rb: 'Roboto', 'sans-serif';
$nu: 'Nunito', 'sans-serif';

$mainblue: RGB(0, 176, 242);
$t: transparent;
$w: white;

// opacity white

$opacityw7: rgba(255, 255, 255, .7);
$opacityw4: rgba(255, 255, 255, .4);

html {
  background: url(../images/black-and-white-city-man-people.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: $rb;
  background-color: $t;
    a {
      text-decoration: none;
    }
}

nav {
  background-color: $t;
  height:70px;
  line-height:70px;
  border-bottom: 1px solid $opacityw4;
  // opacity: .95;

  .logo {
    text-align: center;
    color:white;
    font-size: 35px;
    font-family: $nu;
    a {
    color: $w;
      &:visited {
        color:$w;
      }
    }
  }
}

// HOME PAGE

.login {
  color:white;
  width:700px;
  margin: 0 auto;
  margin-top:15%;
  padding:50px;
  border-radius:3px;
  background-color: $opacityw7;

    .md-button {
      background-color: transparent;
    }
}

//Register Page
.register h2 {
    margin-left: 206px;
    margin-top: 46px;
}
.regform {
  // margin-left: 18px;
}
.register-form {
  width: 600px;
}
