// VARIABLES
$rb: 'Roboto', 'sans-serif';
$nu: 'Nunito', 'sans-serif';

$main: RGB(0, 176, 242);
// END

// MIXINS
// END

body#background {
  background-image:url('app/assets/people-sign-traveling-blur.jpg') no-repeat 50% 50% fixed;
  background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      -webkit-background-size:cover;
}

body {
  font-family: $rb;
}

nav {
  background-color: $main;
  height:50px;
  line-height:50px;

  .logo {
    text-align: center;
    color:white;
    font-size: 30px;
    font-family: $nu;
  }
}